<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>祺聚宝</title>
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.min.css" href=""/>
    <script type="text/javascript" src="/static/js/jQuery.1.9.1.js" ></script>
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/boot/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/jcss.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/sl_ny.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/cebianlan.js"></script>
    <script type="text/javascript" src="/static/js/Jane-js.js"></script>
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    	.sl_footer{width: 100%;background-color: #323232;}
		
    </style>

</head>

<body>
    <!--header-->
    <!-- <div class="header-top">
    	<div class="page-top">
        	<div class="sl_cfrx">
            <ul class="top-leftb">
                <li>
                    <a href="#" class="sl_phone">
                        <img src="images/sl_01.png" alt=""/>
                    </a>
                    <a href="#" class="sl_k_h">客服热线 18737490539</a>
                </li>
                
               
            </ul>
            </div>
			
            <div class="sl_qdl">
				
                <a class="sl_gk" href="登录.html" style="color: #f75c5c;">登录</a>  
                <a class="sl_gk1" href="注册.html" style="color:#fff;">注册</a>  
              
            </div>
        </div>
    </div> -->

   
<div class="header-top">
    	<div class="page-top">
        	<div class="sl_cfrx">
            <ul class="top-leftb">
                <li>
                    <a href="#" class="sl_phone">
                        <img src="images/sl_01.png" alt=""/>
                    </a>
                    <a href="#" class="sl_k_h">客服热线 400-888-8888</a>
                </li>


            </ul>
            </div>
            <div class="sl_qdl">


								{% if username %}

													<a class="sl_gk" href="{% url 'my_blog:my_blog' %}" style="color: #f75c5c;">{{request.user.user_file.nickname}}</a>
													<a class="sl_gk" href="{% url 'blog_1:user_logout'%}" style="color: #f75c5c;">退出</a>

								{%else%}
								<a class="sl_gk" href="{% url  'blog_1:user_login' %}" style="color: #f75c5c;">登录</a>
                				<a class="sl_gk1" href="{% url  'blog_1:register' %}" style="color:#fff;">注册</a>
								{%endif%}

            </div>
        </div>
    </div>

 <div class="nav">
        <div class="sl_content">
            <img src="/static/images/z.jpg" class="zhong_mgl" alt="">
            <div class="menu-wz">
                <ul>

					 {% for i in sorts%}
					<li><a href="{% url 'core_1:fenlei' i.id%}">{{i.sort_name}}</a></li>

					{%empty%}
					没有分类
					{%endfor%}
<li><a class="sl_sy current" href="{% url 'core_1:index'%}">首页</a></li>


                </ul>
            </div>
        </div>
    </div>


	<div class="cen">
		<!-- <div class="cen_3">
			<div class="menu-wz">
			     <img class="zhong" src="images/中工.jpg" alt="">
			    <div class="menu-wz">
			        <ul>
			            <li><a href="index.html">首页</a></li>
			            <li><a href="我要投资.html">旅游</a></li>         
			            <li><a href="我要借款.html">食品</a></li>
			            <li><a href="新手指引.html">体育</a></li>
			            <li><a href="问答专区.html">游戏</a></li>
			            <li><a href="关于我们.html">军事</a></li>
			            <li><a href="我的账户.html">我的账户</a></li>
			        </ul>                                 
			    </div>
			</div>
		</div> -->
		
		
		
		
		
		<div class="cen_1">
			
				    
			
			<div class="cen_1_1">
				{% for i in art %}
				<div class="blogbody">
						<div class="card-header">
							<ul >
								<li style="width: 50%;height: 40px;font-family:宋体; margin: 0 auto;   font-size:25px; "><i class="fa fa-book fa-lg"></i>:<a href="" style="color: black">{{i.article_name}}</a></li>
							</ul>
							<ul class="">
										<li style="width: 90%;height: 40px; margin:10px auto;    ">
											<i class="fa fa-user-circle fa-lg"></i>：<a href="{% url 'other_blog:other_blog' i.article_user.id%}">{{i.article_user.user_file.nickname}}</a>&nbsp
											&nbsp<i class="fa fa-calendar-check-o "></i>：<span>{{i.article_time}}</span>&nbsp
											&nbsp<i class="fa fa-eye fa-lg"></i>：<span>{{i.article_click_volume}}</span>&nbsp
											&nbsp<i class="fa fa-window-restore fa-lg"></i>：<a href="">{{i.article_category.sort_name}}</a>&nbsp
											&nbsp<i class="fa fa-envelope-o">{{i.article_num}}</i>：评论 &nbsp




										</li>


							</ul>
						</div>
									{% if i.article_img %}

									<img class="card-img-top" style="width:50%;" src="/{{i.article_img}} "alt="Card image cap">


									<p class="card-text" style="font-family: 宋体;font-size: 20px;"><span style="color: black">{{i.article_text|slice:"5:50"}} ......</span>
									</p><a href=""></a>
									<ul class="blog">

										<li style="float: right"><i class="fa fa-sign-out"><a href="{% url 'comment_user:comment_user' i.id%}" >查看详情</a></i></li>
										{% if i.article_name in article_list%}

										<li><i class="fa fa-star">已收藏</i></li>
										{% else %}
										<li ><i class="fa fa-star-o"><a href="{% url 'core_1:coll_blog' i.id%}" >未收藏</a></i></li>
										{%endif%}
									</ul>
									{%else%}
									<p class="card-text" style="font-family: 宋体;font-size: 20px;"><span style="color: black">{{i.article_text|slice:"5:50"}} ......</span>
									</p><a href=""></a>
									<ul class="blog">

										<li style="float: right"><i class="fa fa-sign-out"><a href="{% url 'comment_user:comment_user' i.id%}" >查看详情</a></i></li>

										{% if i.article_name in article_list%}

										<li><i class="fa fa-star">已收藏</i></li>
										{% else %}
										<li ><i class="fa fa-star-o"><a href="{% url 'core_1:coll_blog' i.id%}" >未收藏</a></i></li>
										{%endif%}
									</ul>
									{%endif%}
					 </div>

				{%empty%}
				<h1>没有文章</h1>
				{%endfor%}



			</div>
		</div>

					<div class="cen_2">
						<div class="cen_2_1">
							<form class="form-inline my-2 my-lg-0">
							  <a class="btn btn-primary" href="{% url 'my_blog:send_blog' %}" role="button">发布文章</a>
							</form>
							
						</div>
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top" style="width: 50px;height: 50px;" src="/{{user_file.user_img}}" alt="Card image cap">
						  <div class="card-body">
							<h5 class="card-title">我的名言</h5>
							<p class="card-text">{{user_file.Personal_quotes}}</p>
						  </div>
						  <ul class="list-group list-group-flush">

							  <li class="list-group-item"><i class="fa fa-rocket"></i><span>昵称：{{user_file.nickname}}</span></li>
							<li class="list-group-item"><i class="fa fa-heart"></i><span>爱好：{{user_file.hobby_user}}</span></li>
							<li class="list-group-item"><i class="fa fa-flask"></i><span>专业：{{user_file.speciality}}</span></li>
							<li class="list-group-item"><i class="fa fa-anchor"></i><span>年龄：{{user_file.age}}</span></li>
							<li class="list-group-item"><i class="fa fa-map-pin"></i><span>性别：{{user_file.gender}}</span></li>
							<li class="list-group-item"><i class="fa fa-life-saver"></i><span>电话：{{user_file.pthone}}</span></li>

							<li class="list-group-item"><i class="fa fa-fighter-jet"></i><span>博文：{{num}}-piece</span></li>
							  <li class="list-group-item"><i class="fa fa-fighter-jet"><a href="">收藏</a></i><span>：{{len}}-piece</span></li>
							
						  </ul>
						  <div class="shezhi">
							  <a href="{% url 'my_blog:xiugai_user'%}">基本信息修改<i class="fa fa-cog fa-2x"></i></a>
							  <a href="{% url 'blog_1:update_pwd'%}">密码修改<i class="fa fa-cog fa-2x"></i></a>
							  
						  </div>
						</div>
						
					</div>
				</div>
				





   
  
   
    <!-- footer -->
    
        <!--侧边栏star-->
	<ul class="rightIcon" id="rightIcon">
	 
	 
	  <li class="rIcon_toTop1">
	   <a href="#">
		<span>
		</span>
		</a>
	  </li>
	   <li id="back-to-top" class="rIcon_toTop">
		<span>
		</span>
	  </li>
       </ul>

<script type="text/javascript" src="js/ieplaceholder.js"></script>
<script type="text/javascript">


</script>
   

   
</body>
</html>
