<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>祺聚宝</title>
   <meta charset="utf-8">
   <title>祺聚宝</title>
   <link rel="stylesheet" type="text/css" href="boot/css/bootstrap.min.css"/>
   <script type="text/javascript" src="js/jQuery.1.9.1.js" ></script>
   <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
   <script src="boot/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
   
   <link href="css/index.css" rel="stylesheet" type="text/css" />
   <link href="css/jcss.css" rel="stylesheet" type="text/css" />
   <link href="css/sl_ny.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="js/cebianlan.js"></script>
   <script type="text/javascript" src="js/Jane-js.js"></script>
   <link rel="stylesheet" href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
  
</head>

<body>
    <!--header-->
    

   
     <div class="navbar navbar-expand-lg   fixed-top navbar-light bg-light" style="height: 69.69px;">
     	 <nav class="navbar navbar-expand-lg   fixed-top navbar-light bg-light" style="background-color: #323232;width: 61%; margin: 0 auto; ">
     						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
     							<span class="navbar-toggler-icon"></span>
     						 </button>
     						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     							<span class="navbar-toggler-icon"></span>
     						  </button>
     						  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     							<div class="navbar-nav">
     								
     							  <a class="nav-item nav-link active" href="#"><button type="button" class="btn btn-danger" style="margin-left: 50px; width: 100px;">首页</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">IT</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">体育</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">军事</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">旅游</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">美食</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-left: 50px; width: 100px;">我的</button></a>
     							  
     							  <!-- a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger" style="margin-left: 50px;">登录</button></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-right: 50px;">注册</button></a> -->
     							  <a href=""><h3 style="display: block;margin-left: 50px;">mingzi</h3></a>
     							  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger"style="margin-right: 50px;">退出</button></a>
     							</div>
     							
     						  </div>
     	</nav>
     </div>
     

    <div class="sl_content">
        <div class="sl_dl_l">
            <img src="images/dl_01.png" alt="">
            <div class="sl_dl_l_r">
                <h1>登录</h1>
                <ul class="sl_srk">
                   <form action="" method="post">
                   	 <li>
                   		<input class="sl_yhm" type="text" id="userAccount" name="userAccount" placeholder="用户名/手机号" onfocus="getfocus(this);" onblur="lostfocus(this,'用户名/手机号');" />
                   	</li>
                   	<li>
                   		<input class="sl_yhm" type="text" id="userPassword" name="userAccount" placeholder="密码" onfocus="getfocus(this);" onblur="lostfocus(this,'密码');" />
                   	</li>
                   	<li>
						
                   		<input type="submit" value="登录账号"style="color: #fff;" class="sl_ljdl" href="#"/>
                   	</li>
					<li style="height:40px;">
                   		<div class="sl_huo">
                   			<p>或</p>
                   		</div>
                   	</li>
                   	<li>
                       <a style="color:#f75c5c;" class="sl_zczhy" href="register.html">立即注册</a>
                   	</li>
                   
                   	
                   
                   	
                   </form>
                </ul>
            </div>
        </div>
    </div>

  





   
  
   
    <!-- footer -->
   <div class="pos-f-t">
     <div class="collapse" id="navbarToggleExternalContent">
       <div class="bg-dark p-4">
         <ul class="lianjie">
         	<li><a href="">百度</a></li>
         	
         	<li><a href="">CSDN</a></li>
         	
         	<li><a href="">Github</a></li>
         	
         	<li><a href="">中原工软件学院</a></li>
         	
         </ul>
       </div>
     </div>
     <nav class="navbar navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
         友情链接
       </button>
     </nav>
   </div>
   
       
           
   </div>
        <!--侧边栏star-->
        <ul class="rightIcon" id="rightIcon">
         
         
          <li class="rIcon_toTop1">
           <a href="#">
            <span>
            </span>
            </a>
          </li>
           <li id="back-to-top" class="rIcon_toTop">
            <span>
            </span>
          </li>
    </ul>

<script type="text/javascript" src="js/ieplaceholder.js"></script>
<script type="text/javascript">


</script>
   

   
</body>
</html>
