<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>祺聚宝</title>
   <meta charset="utf-8">
   <title>祺聚宝</title>
    <link rel="stylesheet" type="text/css" href="/static/boot/css/bootstrap.min.css" href=""/>
   <script type="text/javascript" src="/static/js/jQuery.1.9.1.js" ></script>
   <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
   <script src="/static/boot/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
   
   <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
   <link href="/static/css/jcss.css" rel="stylesheet" type="text/css" />
   <link href="/static/css/sl_ny.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="/static/js/cebianlan.js"></script>
   <script type="text/javascript" src="/static/js/Jane-js.js"></script>
   <link rel="stylesheet" href="/static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
  
</head>

<body>
    <!--header-->
    

<div class="header-top">
    	<div class="page-top">
        	<div class="sl_cfrx">
            <ul class="top-leftb">
                <li>
                    <a href="#" class="sl_phone">
                        <img src="images/sl_01.png" alt=""/>
                    </a>
                    <a href="#" class="sl_k_h">客服热线 400-888-8888</a>
                </li>


            </ul>
            </div>
            <div class="sl_qdl">


								{% if username %}

													<a class="sl_gk" href="{% url 'my_blog:my_blog' %}" style="color: #f75c5c;">{{request.user.user_file.nickname}}</a>
													<a class="sl_gk" href="{% url 'blog_1:user_logout'%}" style="color: #f75c5c;">退出</a>

								{%else%}
								<a class="sl_gk" href="{% url  'blog_1:user_login' %}" style="color: #f75c5c;">登录</a>
                				<a class="sl_gk1" href="{% url  'blog_1:register' %}" style="color:#fff;">注册</a>
								{%endif%}

            </div>
        </div>
    </div>

 <div class="nav">
        <div class="sl_content">
            <img src="/static/images/z.jpg" class="zhong_mgl" alt="">
            <div class="menu-wz">
                <ul>

					 {% for i in sorts%}
					<li><a href="{% url 'core_1:fenlei' i.id%}">{{i.sort_name}}</a></li>

					{%empty%}
					没有分类
					{%endfor%}
<li><a class="sl_sy current" href="{% url 'core_1:index'%}">首页</a></li>


                </ul>
            </div>
        </div>
    </div>


     

    <div class="sl_content">
        <div class="sl_dl_l">
            <img src="images/dl_01.png" alt="">
            <div class="sl_dl_l_r">
                <h1>登录</h1>
                <ul class="sl_srk">
                   <form action="{% url 'blog_1:user_login'%}" method="post">
                   	 <li>
                   		<input class="sl_yhm" type="text" id="userAccount" name="username" placeholder="用户名/手机号" onfocus="getfocus(this);" onblur="lostfocus(this,'用户名/手机号');" />
                   	</li>
                   	<li>
                   		<input class="sl_yhm" type="text" id="userPassword" name="userpass" placeholder="密码" onfocus="getfocus(this);" onblur="lostfocus(this,'密码');" />
                   	</li>
                   	<li>
						
                   		<input type="submit" value="登录账号"style="color: #fff;" class="sl_ljdl" href="#"/>
                   	</li>
										</form>
					<li>{{error_msg}}</li>
                    <li style="height:40px;">
                   		<div class="sl_huo">
                   			<p>或</p>
                   		</div>
                   	</li>
                   	<li>
                       <a style="color:#f75c5c;" class="sl_zczhy" href="{% url  'blog_1:register' %}">立即注册</a>
                   	</li>
                   
                   	
                   
                   	
                   </form>
                </ul>
            </div>
        </div>
    </div>

  





   
  
   
    <!-- footer -->

   
       
           
   </div>
        <!--侧边栏star-->
        <ul class="rightIcon" id="rightIcon">
         
         
          <li class="rIcon_toTop1">
           <a href="#">
            <span>
            </span>
            </a>
          </li>
           <li id="back-to-top" class="rIcon_toTop">
            <span>
            </span>
          </li>
    </ul>

<script type="text/javascript" src="js/ieplaceholder.js"></script>
<script type="text/javascript">


</script>
   

   
</body>
</html>
