<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>祺聚宝</title>
    <link rel="stylesheet" type="text/css" href="boot/css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jQuery.1.9.1.js" ></script>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script src="boot/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link href="css/jcss.css" rel="stylesheet" type="text/css" />
    <link href="css/sl_ny.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/cebianlan.js"></script>
    <script type="text/javascript" src="js/Jane-js.js"></script>
	<link rel="stylesheet" href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    	.sl_footer{width: 100%;background-color: #323232;}
		/* .right_left{display: block;float: right;position: absolute;top: 0;right: 0;} */
    </style>

</head>

<body>
    
	
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #323232;">
					  <h2>导航</h2>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
						  <a class="nav-item nav-link active" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link disabled" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						</div>
					  </div>
</nav>
	<div>
		<div class="fabu" style="width: 61.8%;margin: 20px auto;">
			
			<form action="#"method="post"  >
				<ul>
					
					
					
					<li><textarea rows="20" cols="100" name="内容">
						发布文章写在此处
					</textarea></li>
					<li class="right_left">类型
						<div class="input-group mb-3" style="width: 20%;">
						 
							
						 
						  <select class="custom-select" id="inputGroupSelect01" name="类型">
							
							<option value="one">One</option>
							<option value="two">Two</option>
							<option value="Three">Three</option>
						  </select>
						</div>
					</li><li class="right_left" >博文名称<input type="text" name="textnam" style="display: block;width: 20%;border: 1px #CED4DA solid;"/></li>
					<li><input type="file" id='image_di' name="地址" ></li>
					<li><input type="submit" id="fa_bu" name=""  class="btn btn-secondary" value="发布" style="background-color: #F75C5C;"/> <a href="one.html" class="btn btn-secondary" style="background-color: #F75C5C;">返回</a></li>
					
				</ul>
				
				
				
				
			</form>
		</div>
	</div>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="lianjie">
      	<li><a href="">百度</a></li>
      	
      	<li><a href="">CSDN</a></li>
      	
      	<li><a href="">Github</a></li>
      	
      	<li><a href="">中原工软件学院</a></li>
      	
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      友情链接
    </button>
  </nav>
</div>





   
  
   
    <!-- footer -->
    
        <!--侧边栏star-->
	<ul class="rightIcon" id="rightIcon">
	 
	 
	  <li class="rIcon_toTop1">
	   <a href="#">
		<span>
		</span>
		</a>
	  </li>
	   <li id="back-to-top" class="rIcon_toTop">
		<span>
		</span>
	  </li>
       </ul>

<script type="text/javascript" src="js/ieplaceholder.js"></script>
<script type="text/javascript">


</script>
   

   
</body>
</html>
