<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>祺聚宝</title>
    <link rel="stylesheet" type="text/css" href="boot/css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jQuery.1.9.1.js" ></script>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script src="boot/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <link href="css/jcss.css" rel="stylesheet" type="text/css" />
    <link href="css/sl_ny.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/cebianlan.js"></script>
    <script type="text/javascript" src="js/Jane-js.js"></script>
	<link rel="stylesheet" href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <style type="text/css">
    	.sl_footer{width: 100%;background-color: #323232;}
		/* .right_left{display: block;float: right;position: absolute;top: 0;right: 0;} */
    </style>

</head>

<body>
    
	
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #323232;">
					  <h2>导航</h2>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
						  <a class="nav-item nav-link active" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						  <a class="nav-item nav-link disabled" href="#"><button type="button" class="btn btn-danger">Danger</button></a>
						</div>
					  </div>
</nav>
	<div>
		<div class="fabu" style="width: 61.8%;margin: 20px auto;">
			<div class="blogbody">
							<div class="card-header"><a href="" id=""><h5 >第一篇文章</h5></a></div>
															<img class="card-img-top" src="images/bg2.jpg" alt="Card image cap">
							<p class="card-text">With supporting text below as a natural lead-in to additional content.gfsdgsdfg.sdfaafadfasf
												With supporting text below as a natural lead-in to additional content.gfsdgsdfg.sdfaafadfasf
												With supporting text below as a natural lead-in to additional content.gfsdgsdfg.sdfaafadfasf
												With supporting text below as a natural lead-in to additional content.gfsdgsdfg.sdfaafadfasf
											</p><a href="#" class="btn btn-primary btn-sm">查看详情</a><a href=""></a>
							<ul class="blog">
								<li><i class="fa fa-user-circle fa-lg"></i>：<a href="">作者</a></li>
								<li><i class="fa fa-calendar-check-o fa-lg"></i>：<span>2019 - 4 -10</span></li>
								<li><i class="fa fa-eye fa-lg"></i>：<span>10000</:span></li>
								<li><i class="fa fa-window-restore fa-lg"></i>：<a href="">类型</a></li>
												<li><i class="fa fa-envelope-o">7</i>：<a href="">评论</a></li>
												
							</ul>
							
			</div>
			<div class="blogbody">
				<ul >
					<li style=" display: block;width: 100%;background: #FD9681;margin: 2px 0;color: #FFF3DE;">zuo：<span>你说得对</span></li>
					<li style=" display: block;width: 100%;background: #FD9681;margin: 2px 0;color: #FFF3DE;">zuo：<span>你说得对</span></li>
					<li style=" display: block;width: 100%;background: #FD9681;margin: 2px 0;color: #FFF3DE;">zuo：<span>你说得对</span></li>
				</ul>
			</div>
			<div class="blogbody">
			<form action="#"method="post"  >
				 
				<ul>
					
					
					
					<li><textarea rows="1" cols="187" name="内容">
						
					</textarea></li>
					
					<li><input type="submit" id="fa_bu" name=""  class="btn btn-secondary" value="评论" style="background-color: #F75C5C;"/> <a href="one.html" class="btn btn-secondary" style="background-color: #F75C5C;">返回</a></li>
					
				</ul>
				
				
				
				
			</form>
			</div>
		</div>
	</div>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="lianjie">
      	<li><a href="">百度</a></li>
      	
      	<li><a href="">CSDN</a></li>
      	
      	<li><a href="">Github</a></li>
      	
      	<li><a href="">中原工软件学院</a></li>
      	
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      友情链接
    </button>
  </nav>
</div>





   
  
   
    <!-- footer -->
    
        <!--侧边栏star-->
	<ul class="rightIcon" id="rightIcon">
	 
	 
	  <li class="rIcon_toTop1">
	   <a href="#">
		<span>
		</span>
		</a>
	  </li>
	   <li id="back-to-top" class="rIcon_toTop">
		<span>
		</span>
	  </li>
       </ul>

<script type="text/javascript" src="js/ieplaceholder.js"></script>
<script type="text/javascript">


</script>
   

   
</body>
</html>
